{% extends 'base.html' %}
{% load static i18n %}
{% load static %}

{% block content%}
<div id="topPanel">
    <a href="javascript:history.back();">
        <svg width="25" height="22" viewBox="0 0 25 22" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M8.44172 1L1.44172 10C1.24856 10.1932 1.01063 10.5654 1.00035 11M8.44172 21C6.44172 18.3333 2.24172 12.8 1.44172 12C1.1053 11.6636 0.992882 11.3154 1.00035 11M1.00035 11H24.4417" stroke="#505050" stroke-width="2"/>
        </svg>
    </a>
    <h2>{% trans 'Про нас'%}</h2>
</div>

<section id="about_us">
    <div class="top">
        <p>{% trans 'Ми раді вітати Вас в'%} <span class="bi">Sushi</span> <span class="bi">Lime</span>&#32{% trans '- замовлення «на виніс» та доставку смачних суші.'%}</p>
        <img src="{% static 'img/aboutus/top.png' %}" alt="">
        <div>
            <p>{% trans 'Народна любов до суші ніколи не сплине – це страва – канікули з ароматом екзотики, солоного вітру та подиху моря.'%}</p>
        </div>
    </div>
    <div class="main">
        <div class="txt">
            <p>{% trans 'Ми в'%} <span> Sushi</span><span> Lime </span> {% trans 'для приготування японських смаколивків акцентуємо увагу на преміальних продуктах: японський сорт  рису акіто камачі, котрий самі японці вважають еталонним, особливо хрусткі норі, авторські соуси – це той випадок коли у короля (тобто у свіжої риби) гідна звита. Продукти в <span style="color: #F37D03;">Sushi</span> <span>Lime</span> завжди свіжі, що підтверджено сертифікатами якості від надійних постачальників. Кожна страва після приготування проходить контроль якості та зважування.'%}</p>
        </div>
        <div class="img">
            <img src="{% static 'img/aboutus/1.png' %}" alt="">
        </div>
        <div class="a img">
            <img src="{% static 'img/aboutus/2.png' %}" alt="">
        </div>
        <div class="txt">
            <p>{% trans 'В' %}&#32<span>Sushi</span>&#32<span>Lime</span>&#32{% trans  'не заощаджують на продуктах – і якісно, і кількісно, тому рису всередині менше, аніж риби. Точну вагу і склад роллів можна завжди побачити в описі до страви. Суші на фото виглядають так само і «в житі» без перебільшення, ми знаємо як це важливо для наших Клієнтів!'%}</p>
        </div>
        <div class="txt">
            <p>{% trans 'Безкінечне меню передбачає свободу дій – окрім переосмисленої класики, шести варіантів «Каліфорнії»,  «Філадельфії», « Боніто»  та «Драконів», варто  обов’язково скуштувати наші не по-київські щедрі порції «Фірмових ролів» та теплих і ароматних «Запечених ролів». Запрошуємо відвідати наш <span>Sushi</span> <span>Lime</span>, і Ви отримаєте своє замовлення протягом 15 хвилин, не очікуючи кур’єра. Можливо також приготувати замовлення на обумовлений час.'%}</p>
        </div>
        <div class="img">
            <img src="{% static 'img/aboutus/3.png' %}" alt="">
        </div>
        <p class="f">{% trans 'Замовити суші або роллів додому в Києві з доставкою – це відмінний спосіб позбутися шаблонного приготування вечері, і зануритися в атмосферу самобутньої азіатської країни через її кухню.'%}</p>
        <div class="b img">
            <img class="c" src="{% static 'img/aboutus/4.png' %}" alt="">
            <img class="e" src="{% static 'img/aboutus/5.png' %}" alt="">
        </div>
        <div class="d txt">
            <p>{% trans 'Замовити суші або роллів додому в Києві з доставкою – це відмінний спосіб позбутися шаблонного приготування вечері, і зануритися в атмосферу самобутньої азіатської країни через її кухню.'%}</p>
            <p>{% trans 'Ви бажаєте влаштувати свято для себе, своїх рідних або коллег? Замовляйте в <span>Sushi</span> <span>Lime!</span> Наші повари-сушисти  порадують Вас своєю кулінарною майстерністю. Приготуємо смачний обід, влаштуємо вечерю або святковий захід із свіжих суші, роллів або сетів.'%}</p>
        </div>
    </div>
</section>
{% endblock %}