{% extends 'base.html' %}
{% load static i18n %}
{% load static %}

{% block content %}
<div id="topPanel">
    <a href="javascript:history.back();">
        <svg width="25" height="22" viewBox="0 0 25 22" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M8.44172 1L1.44172 10C1.24856 10.1932 1.01063 10.5654 1.00035 11M8.44172 21C6.44172 18.3333 2.24172 12.8 1.44172 12C1.1053 11.6636 0.992882 11.3154 1.00035 11M1.00035 11H24.4417" stroke="#505050" stroke-width="2"/>
        </svg>
    </a>
    <h2>{% trans 'Пакетик'%}</h2>
</div>

<section id="buscket">
    <div class="cards">
        {% if cart.list_items %}
            {% for el in cart.list_items %}
                {% if el.obj.isSale == False %}
                    <div class="card">
                        <div class="img-container">
                            <img src="{{ el.obj.image.url }}" alt="">
                        </div>
                        <div class="product-name" onclick="openLink( '{{ el.obj.get_absolute_url }}' )">
                            <p>{{ el.obj.title }}</p>
                        </div>
                        <div class="product-info">
                            <div class="product-parameters">
                                {% if el.obj.category_id == salads.id or el.obj.category_id == drinks.id %}
                                    <p>{{ el.obj.weight }} <span>{% trans 'г.' %}</span></p>
                                    <p><span></span></p>
                                {% else %}
                                    <p>{{ el.obj.pieces }} <span>{% trans 'шт.' %}</span></p>
                                    <p>{{ el.obj.weight }} <span>{% trans 'г.' %}</span></p>
                                {% endif %}
                            </div>
                            <div class="product-price">
                                <p>{{ el.obj.price }} <span>₴</span></p>
                            </div>
                        </div>
                        <div onclick="removeWithReload('{{ el.obj.id }}')" class="delete-btn">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <rect y="21.2132" width="30" height="3" rx="1.5" transform="rotate(-45 0 21.2132)" fill="white"/>
                                <rect x="2.12109" width="30" height="3" rx="1.5" transform="rotate(45 2.12109 0)" fill="white"/>
                            </svg>
                        </div>
                        <div class="quantity">
                            <hr>
                            <div>
                                <svg id="{{ el.obj.id }}" class="minus" onclick="quantity('minus', '{{ el.obj.id }}')" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <rect width="16" height="16" rx="8" fill="#F47B04"/>
                                    <line x1="13" y1="8" x2="3" y2="8" stroke="white"/>
                                </svg>
                                <p id="{{ el.obj.id }}" class="number">{{ el.quantity }}</p>
                                <svg id="{{ el.obj.id }}" class="plus" onclick="quantity('plus', '{{ el.obj.id }}')" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <rect width="16" height="16" rx="8" fill="#35A041"/>
                                    <line x1="8" y1="3" x2="8" y2="13" stroke="white"/>
                                    <line x1="13" y1="8" x2="3" y2="8" stroke="white"/>
                                </svg>
                            </div>
                            <hr>
                        </div>
                    </div>
                {% else %}
                    <div class="card-sale">
                        <div class="img-container">
                            <img src="{{ el.obj.image.url }}" alt="">
                        </div>
                        <div class="product-name" onclick="openLink( '{{ el.obj.get_absolute_url }}' )">
                            <p>{{ el.obj.title }}</p>
                        </div>
                        <div class="product-info">
                            <div class="product-parameters">
                                {% if el.obj.category_id == salads.id or el.obj.category_id == drinks.id %}
                                    <p>{{ el.obj.weight }} <span>{% trans 'г.' %}</span></p>
                                    <p><span></span></p>
                                {% else %}
                                    <p>{{ el.obj.pieces }} <span>{% trans 'шт.' %}</span></p>
                                    <p>{{ el.obj.weight }} <span>{% trans 'г.' %}</span></p>
                                {% endif %}
                            </div>
                            <div class="product-price">
                                <p>{{ el.obj.oldPrice }} <span>₴</span></p>
                                <p>{{ el.obj.price }} <span>₴</span></p>
                            </div>
                        </div>
                        <div class="discount">
                            <p>-{{el.obj.discount}}%</p>
                        </div>
                        <div onclick="removeWithReload('{{ el.obj.id }}')" class="delete-btn">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <rect y="21.2132" width="30" height="3" rx="1.5" transform="rotate(-45 0 21.2132)" fill="white"/>
                                <rect x="2.12109" width="30" height="3" rx="1.5" transform="rotate(45 2.12109 0)" fill="white"/>
                            </svg>
                        </div>
                        <div class="quantity">
                            <hr>
                            <div>
                                <svg id="{{ el.obj.id }}" class="minus" onclick="quantity('minus', '{{ el.obj.id }}')" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <rect width="16" height="16" rx="8" fill="#F47B04"/>
                                    <line x1="13" y1="8" x2="3" y2="8" stroke="white"/>
                                </svg>
                                <p id="{{ el.obj.id }}" class="number">{{ el.quantity }}</p>
                                <svg id="{{ el.obj.id }}" class="plus" onclick="quantity('plus', '{{ el.obj.id }}')" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <rect width="16" height="16" rx="8" fill="#35A041"/>
                                    <line x1="8" y1="3" x2="8" y2="13" stroke="white"/>
                                    <line x1="13" y1="8" x2="3" y2="8" stroke="white"/>
                                </svg>
                            </div>
                            <hr>
                        </div>    
                    </div>
                {% endif %}
            {% endfor %}
        {% else %}
            <img src="{% static 'img/icons/PNG/emptymem.png' %}" alt="">
            <h2>{% trans 'Тут поки що пустенько'%} :(</h2>
        {% endif %}        
    </div>
    <div class="info">
        <hr>
        <div>
            <p>{% trans 'Сума'%}:</p>
            <p class="pb">{{ cart.total_price }}<span> ₴</span></p>
        </div>
        <div>
            <p>{% trans 'Шматочки'%}:</p>
            <p class="pb">{{ cart.total_pieces }}<span> шт.</span></p>
        </div>
        <div>
            <p>{% trans 'Вага'%}:</p>
            <p class="pb">{{ cart.total_weight }}<span> г.</span></p>
        </div>
        {% if cart.count_items != 0 %}
            <a href="{% url 'order' %}" class="btn">
                <p>{% trans 'Оформити замовлення'%}</p>
            </a>
        {% else %}
            <a onclick="showAlert('Додайте товар у пакетик', false)" class="btn red">
                <p>{% trans 'Оформити замовлення'%}</p>
            </a>
        {% endif %}
    </div>
</section>
{% endblock %}

{% block script %}
<script src="{% static 'js/alert.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>
{% endblock %}