{% extends 'base.html' %}
{% load static i18n %}

{% block content %}
<div id="topPanel">
    <a href="javascript:history.back();">
        <svg width="25" height="22" viewBox="0 0 25 22" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M8.44172 1L1.44172 10C1.24856 10.1932 1.01063 10.5654 1.00035 11M8.44172 21C6.44172 18.3333 2.24172 12.8 1.44172 12C1.1053 11.6636 0.992882 11.3154 1.00035 11M1.00035 11H24.4417" stroke="#505050" stroke-width="2"/>
        </svg>
    </a>
    <h2>{% trans 'Замовлення'%}</h2>
</div>

<section id="order">
    <form method="post" id="form">
        {% csrf_token %}
        <div class="order-info">
            <h2>{% trans 'Інформація'%}:</h2>
            <input class="inputText inputL" autocomplete="off" type="text" name="" id="name" placeholder='{% trans "Ваше ім&#39;я" %}'>
            <input class="inputText inputL" autocomplete="off" type="tel"  name="" id="tel" placeholder="0987654321" pattern="[0-9]{3}[0-9]{3}[0-9]{4}">
            <h2>{% trans 'Доставка'%}:</h2>
            <div class="radio-box">
                <div onclick="checkDelivery()" id="deliveryCourior" class="radio checked">{% trans "Кур'єр"%}</div>
                <div onclick="checkDelivery()" id="deliveryThemself" class="radio">{% trans 'Самовивіз'%}</div>
            </div>
            <div id="samovi" style="display: none;">
                <p style="margin-bottom: 10px;">{% trans 'Самовивіз з'%}:<br><span>{% trans 'вул. Княжий Затон 17, Київ'%}</span></p>
            </div>
            <div id="deli">
                <input class="inputText inputL" autocomplete="off" type="text" name="" id="street" placeholder="{% trans 'Вулиця'%}">
                <div class="input-box">
                    <input class="inputText inputM" autocomplete="off" type="text" name="" id="numberHoues" placeholder="{% trans 'Номер будинку'%}">
                    <input class="inputText inputM" autocomplete="off" type="text" name="" id="flat" placeholder="{% trans 'Квартира'%}">
                </div>
                <div class="input-box">
                    <input class="inputText inputM" autocomplete="off" type="text" name="" id="entrance" placeholder="{% trans 'Під&#39;їзд'%}">
                    <input class="inputText inputM" autocomplete="off" type="text" name="" id="flor" placeholder="{% trans 'Поверх'%}">
                </div>
                <p>{% trans 'Вартість доставки'%} <span>50</span> ₴</p>
            </div>
            
            <h2 id="h2Time">{% trans 'Час доставки'%}:</h2>
            <div class="radio-box">
                <div onclick="checkDeliveryTime()" id="deliveryTimeNow" class="radio">{% trans 'Найближче'%}</div>
                <div onclick="checkDeliveryTime()" id="deliveryOnTime" class="radio checked">{% trans 'На певний час'%}</div>
            </div>
            <p id="timeSamovi" style="display: none;">{% trans 'Найближчий час'%}: <span id="t"></span></p>
            <div id="timedeli" class="input-box">
                <input class="inputText inputM" autocomplete="off" type="text" name="" id="delDay" placeholder="{% trans 'День'%}">
                <input class="inputText inputM" autocomplete="off" type="text" name="" id="delTime" placeholder="{% trans 'Час'%}">
            </div>
            <div class="walue input-box">
                <p>{% trans 'Сума замовлення'%}:</p>
                <p><span>{{cart.total_price}}</span> ₴</p>
            </div>
            <p class="note" style="font-size: 12px;">{% trans 'У вартість замовлення не входить вартість доставки та додаткових товарів у наборі'%}</p>
            <div class="radio-box">
                <div onclick="checkPayment()" id="paymentMoney" class="radio checked">{% trans 'Готівка'%}</div>
                <div onclick="checkPayment()" id="paymentTerminal" class="radio">{% trans 'Термінал'%}</div>
            </div>
        </div>
        <!-- правая часть -->
        <div class="packege-info">
            <h2>{% trans 'Набір'%}:</h2>
            <div class="input-box">
                <p>{% trans 'Звичайні палички'%}:</p>
                <input class="inputText inputS" autocomplete="off" type="text" name="" id="regularSticks" value="{{ cart.total_items }}">
            </div>
            <div class="input-box">
                <p>{% trans 'Навчальні палички'%}:</p>
                <input class="inputText inputS" autocomplete="off" type="text" name="" id="studySticks" value="0">
            </div>
            <div class="input-box">
                <p>{% trans 'Васабі'%}:</p>
                <input class="inputText inputS" autocomplete="off" type="text" name="" id="wasabi" value="{{ cart.total_items }}">
            </div>
            <div class="input-box">
                <p>{% trans 'Імбир'%}:</p>
                <input class="inputText inputS" autocomplete="off" type="text" name="" id="ginger" value="{{ cart.total_items }}">
            </div>
            <div class="input-box">
                <p>{% trans 'Соєвий соус'%}:</p>
                <input class="inputText inputS" autocomplete="off" type="text" name="" id="sous" value="{{ cart.total_items }}">
            </div>
            <h2>{% trans 'Коментар'%}:</h2>
            <textarea name="" id="comment"></textarea>
            <!-- <input class="submit" type="submit" value="Заказать"> -->
            <div class="submit" onclick="formCollector(URLS.order, '{{csrf_token}}' )"><p class="btntxt">{% trans 'Замовити'%}</p></div>
        </div>
    </form>
</section>
{% endblock %}

{% block script %}
<script src="{% static 'js/alert.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>
<script src="{% static 'js/moment.js' %}"></script>
{% endblock %}
